@import url("fuentes/stylesheet.css");


/* Estilos del formulario de creación de proyecto */

.formulario {
    margin: 20px;
    padding: 20px;
    border: 2px solid #5592ED;
    border-radius: 8px;
    background-color: #f8f9fa;
    margin-left: 480px;
    margin-right: 250px;
    margin-top: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    width: 80%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #c8c8c8;
}

textarea.form-control {
    resize: vertical;
}

.btnAgregar {
    background-color: #15824B;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 13px;
    margin-top: 30px;
}

.btnAgregar:hover {
    background-color: #20a261;
}


.btnGPA {
    background-color: #508de9;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 15px;
    margin-top: 30px;
}

.btnGPA:hover {
    background-color: #67a1f8;
}

/* Clase para div para espacio del dashboard */

.space {
    height: 20px; /* Ajusta el espacio según sea necesario */
}


.titulo {
    display: inline-block;
    text-align: center;
    border: 2px solid #5a97f4;
    border-radius: 8px;
    padding: 11px 11px 11px 11px;
    margin-top: 60px;
    box-sizing: border-box;
    font-size: 16px;
    width: 750px;
    margin-left: 460px;
    
}


/* Estilo del fondo semi-transparente */
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente oscuro */
    z-index: 9998; /* Asegura que esté por debajo del modal pero por encima de otros elementos */
    display: none; /* Inicialmente oculto */
}

/* Contenido del modal */
.error-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 475px;
    max-width: 490px;
    font-size: 15px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: none; /* Inicialmente oculto */
}

/* Botón de aceptar */
.error-btn {
    background-color: #f2493d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estilo cuando el cursor pasa sobre el botón */
.error-btn:hover {
    background-color: #d32f2f;
}